.main-header {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(37, 236, 47, 0.4);
}
.main-form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    width: 100%;
    height: 600px;
}
.main-form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    width: 100%;
    border: 1px solid rgba(3, 120, 230, 0.733);
    border-radius: 10px;
    height: 80px;
    padding: 10px;
    transition: all .4s ease;
}
.main-form input:hover {
    border: 1px solid rgb(76, 130, 180);
    transform: scale(1.05);
}
.form-container {
    width: 80%;
    margin: 0 auto;
}
